body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;

}

form{
    background-color: white;
    position: absolute;
    top: 25px;
    right: 300px;
    padding: 15px;
    border: solid 1px;
    width: 50%;
    text-align: center;
}
form label {
    font-size: 22px;
    font-weight: bold;
}

#somar {
    background-color: black;
    color: white;
    width: 90px;
    height: 30px;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 10px;
    margin:  10px 1px 0 150px;
    font-weight: bold;
}

#somar:hover {
    color: gold;
    background-color: darkslateblue;
    font-weight: bold;
}


